<nav class="navbar navbar-light bg-light">
      <div class="col-md-12">
          <input class="form-control" name="searchStr" [(ngModel)]="searchStr" (keyup)="Search()" placeholder="Search for movie/TV-Shows" aria-label="Search">
      </div>
      <div class="col-md-12 sreached" style="margin-top:5px;">
          <ul *ngFor="let x of searching">
              <img *ngIf="x['original_title']" src="http://image.tmdb.org/t/p/w500{{x['poster_path']}}" alt="" width="50px" height="50px">
            <li *ngIf="x['original_title']" style="  list-style-type: none;">{{x["original_title"]+"("+x["vote_average"]+")"}}</li>
              
          </ul>
      </div>
   
  </nav>




<div class="container" >
  <div class="row">
    <div class="col-md-12"><h1 class="appname">Movies</h1></div>
    <div class="col-md-8"><h3 class="toprated">Trending Movies</h3>
      <ul *ngFor="let x of trendingmovies" class="movieslist">
        <div class="movie-detail">
          <div class="row">
              <div class="col-md-4 image">
                  <img *ngIf="x['original_title']" src="http://image.tmdb.org/t/p/w500{{x['poster_path']}}" alt="" width="200px" height="300px">
              </div>
                <div class="col-md-6 details">
                    <li *ngIf="x['original_title']">{{x["original_title"]}}</li>
                    <p *ngIf="x['original_title']">({{x["vote_average"]}}/10)</p>
                    <p style=" color: #ffd89b ;font-size:15px; " *ngIf="x['original_title']">{{x.overview}}</p>
                    <br>
                </div>

          </div>
          

           
        </div>
       
      </ul>
    
    </div>
    <div class="col-md-4" style="text-align:right;"><h3 class="upcoming">Upcoming Movies</h3>
      <ul *ngFor="let x of upcoming" class="movieslist">
        <img *ngIf="x['original_title']" src="http://image.tmdb.org/t/p/w500{{x['poster_path']}}" alt="" width="100px" height="150px">

        <li *ngIf="x['original_title']" style="display:block;">{{x["original_title"]}}</li>
        <p *ngIf="x['original_title']" style="display:block;">({{x["vote_average"]}}/10)</p>
        <p *ngIf="x['original_title']" style="display:block;">Release:{{x["release_date"]}}</p>
        <br>
      </ul>
      
    </div>
    
  </div>
  <div class="row " >
    <div class="col-md-6 ">
      
    </div>
  </div>
</div>



<!-- <router-outlet></router-outlet> -->
